.answers {
    margin-bottom: 186px;
  // .answers__second-container

  &__second-container {
  }

  &__wrapper {
    position: relative;
    margin: 0 2px;
  }

  // .answers__wrapper

  &__wrapper-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 60px;
  }

  // .answers__wrapper-title

  &__wrapper-top-title {
    color: #292d33;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    max-width: 701px;
  }

  // .answers__button

  &__button {
  }

  // .answers__cards

  &__cards {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  // .answers__swiper-button-prev

  &__swiper-button-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -24px;
    transform: translate(-50%, -50%);
    svg {
      width: 32px;
      height: 32px;
    }
  }

  // .answers__swiper-button-next

  &__swiper-button-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: -56px;
    transform: translate(-50%, -50%);
    svg {
      width: 32px;
      height: 32px;
    }
  }
}
