
.navbar {
  &__items {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 54px;
    padding-left: 56px;
    overflow-y: auto;
    height: 520px;
  }
  // .navbar__wrapper

  &__wrapper {
    position: fixed;
    top: 96px;
    width: 300px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      height: 100%;
      width: 1px;
      background: #cfdfe5;
    }
  }

  // .navbar__item

  &__item {
    a {
      color: #51555a;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      display: flex;
      flex-direction: column;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__item-arrow {
    &.active {
      display: none;
    }
  }

  &__item-line {
    display: none;

    &.active {
      display: block;
    }
  }

  &__item-wrapper {
    display: flex;
    gap: 10px;

    p {
      color: #51555a;
      font-size: 20px;
      font-weight: 600;
      color: #51555a;
      cursor: pointer;
      transition: color 0.4s ease;

      &.active {
        color: #1dc3b0;
      }
    }
  }

  &__item-dropdown {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    max-height: 0;
    transition: all 0.4s ease;

    a {
      color: #51555a;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }

    &.active {
      opacity: 1;
      overflow: visible;
      visibility: visible;
      max-height: 500px;
      margin-top: 20px;
      gap: 16px;
    }
  }

  // .navbar__bottom

  &__bottom {
    background: #f5fbfc;
    height: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #cfdfe5;
    }
  }

  // .navbar__bottom-text

  &__bottom-text {
    color: #292d33;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 31px;

    span {
      font-size: 14px;
      font-weight: 400;
      opacity: 0.7;
    }
  }

  &__button {
    border-radius: 16px;
    background: #f72056;
    border: 2px solid #f72056;
    color: #fff;
    transition: all 0.4s ease;

    &:hover {
      background: #f5fbfc;
      color: #51555a;  
    }
  }
}
