<nav class="navbar">
  <ul class="navbar__items">
    <li class="navbar__item">
      <a href="#">Наши услуги</a>
    </li>
    <li class="navbar__item">
      <a href="#">Стоимость</a>
    </li>
    <li class="navbar__item">
      <a href="#">Сотрудники</a>
    </li>
    <li class="navbar__item">
      <a href="#">График работы</a>
    </li>
    <li class="navbar__item navbar-dropdown">
      <div class="navbar__item-wrapper">
        <p>О клинике</p>
        <div class="navbar__item-arrow">
          <svg><use xlink:href="./images/Sprite.svg#navbar-arrow"></use></svg>
        </div>
        <div class="navbar__item-line">
          <svg><use xlink:href="./images/Sprite.svg#navbar-line"></use></svg>
        </div>
      </div>
      <div class="navbar__item-dropdown">
        <a href="#"><p>Наша миссия</p></a>
        <a href="#">Фотогалерея</a>
        <a href="#">Отзывы</a>
      </div>
    </li>
    <li class="navbar__item navbar-dropdown">
      <div class="navbar__item-wrapper">
        <p>Полезное</p>
        <div class="navbar__item-arrow">
          <svg><use xlink:href="./images/Sprite.svg#navbar-arrow"></use></svg>
        </div>
        <div class="navbar__item-line">
          <svg><use xlink:href="./images/Sprite.svg#navbar-line"></use></svg>
        </div>
      </div>

      <div class="navbar__item-dropdown">
        <a href="#">Истории пациентов</a>
        <a href="#">Статьи</a>
      </div>
    </li>
    <li class="navbar__item">
      <a href="#">Контакты</a>
    </li>
  </ul>
  <div class="navbar__bottom">
    <p class="navbar__bottom-text">
      Работаем для вас <br />
      <span>ежедневно и круглосуточно</span>
    </p>
    <button class="button navbar__button">Записаться на прием</button>
  </div>
</nav>
