.recording {
  margin-bottom: 186px;

  &__second-container {
  }

  &__wrapper {
    position: relative;
    margin: 0 2px;
  }

  &__wrapper-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 60px;
  }

  &__wrapper-top-title {
    color: #292d33;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
  }

  &__button {
  }

  &__cards {
  }

  &__swiper-button-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -24px;
    transform: translate(-50%, -50%);
    svg {
      width: 32px;
      height: 32px;
    }
  }

  &__swiper-button-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: -56px;
    transform: translate(-50%, -50%);
    svg {
      width: 32px;
      height: 32px;
    }
  }
}
