.answers {
  margin-bottom: 186px;
  // .answers__second-container

  &__second-container {
  }

  &__wrapper {
    position: relative;
    margin: 0 2px;
  }

  // .answers__wrapper

  &__wrapper-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 60px;
  }

  // .answers__wrapper-title

  &__wrapper-top-title {
    color: #292d33;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    max-width: 701px;
  }

  // .answers__button

  &__button {
  }

  // .answers__cards

  &__cards {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}

.specialists-card {
  cursor: pointer;

  &__wrapper {
    display: flex;
    justify-content: space-around;
  }
  // .specialists-card__photo

  &__photo {
    margin-bottom: 16px;
    img {
      width: 344px;
      height: 400px;
      object-fit: cover;
    }
  }

  // .specialists-card__name

  &__name {
    color: #292d33;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    max-width: 207px;
    margin-bottom: 6px;
  }

  // .specialists-card__job-title

  &__job-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    color: #51555a;
    // font-family: Manrope;
    font-size: 16px;
    line-height: 24px;
  }
}
.specialists-line {
  padding-bottom: 50px;
}
.specialists-card__specializations {
  margin-top: 5px;
  font-size: 14px;
  color: #777;
}

.specialization-block {
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.delete-button {
  cursor: pointer;
  margin-left: 5px;
  color: red;
}
ul {
  .skills-list__link {
    width: 100%;
    .point-input {
      width: 100%;
    }
  }
}
