.brand-link {
  padding: 0;
}

.brand-link .brand-image {
  max-height: 55px;
}
.img-circle-cat {
  border-radius: 0;
}
.elevation-3 {
  box-shadow: none !important;
}
.sidebar-darkk {
  background-color: #001a35;
}

// .img-top-input + label[data-v-e29172df] {
//   background: white;
//   padding: 20px;
//   max-width: 200px;
//   width: 200px;
//   height: 150px;
//   text-align: center;
//   position: relative;
//   border: 1px solid black;
// }
// .img-top-input[data-v-e29172df] {
//   opacity: 0;
//   visibility: visible;
//   width: 0px;
//   height: 0px;
// }

// .img-top-input + label[data-v-e29172df]:after {
//   content: '';
//   position: absolute;
//   left: 50%;
//   margin-left: -25px;
//   top: 50%;
//   background: url('../images/admin/box-arrow-in-down.svg');
//   background-position: center;
//   background-size: cover;
//   width: 50px;
//   height: 50px;
//   z-index: 5;
// }
