.brand-link {
  padding: 0;
}

.brand-link .brand-image {
  max-height: 55px;
}
.img-circle-cat {
  border-radius: 0;
}
.elevation-3 {
  box-shadow: none !important;
}
.sidebar-darkk {
  background-color: #001a35;
}
